body, html, #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  height: 100%;
}

@media (max-width: 600px) {
  .popup-content {
      width: 95%;
      max-height: 90%;
  }
}

.search-field {
  padding: 8px;
  max-width: 300px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #000;
  margin-top: 5px;
}

.popup-content button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff4d4d; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  padding: 5px 10px; 
  cursor: pointer; 
  font-size: 1rem; 
  z-index: 1001; 
}

.popup-content button:hover {
  background-color: #ff1a1a;
}

.customer-link {
  text-decoration: none; 
  color: blue; 
}

.customer-link:hover {
  color: darkblue; 
}
.customer-list {
  margin-top: 20px; 
}

.customer-name {
  cursor: pointer; 
  text-decoration: underline;
  color: blue; 
}

.customer-name:hover {
  color: darkblue; 
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-content {
  background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    width: 90%; 
    max-width: 500px;
    max-height: 80vh;
    overflow-y: auto;
    padding: 20px; 
}

.close-button {
  position: absolute;
  top: 25px;
  right: 25px;
  background: transparent;
  border: none; 
  cursor: pointer; 
  font-size: 1rem; 
}

.close-button:hover {
  background-color: #ff1a1a;
}

.popup-content h2,
.popup-content p {
  color: black;
}

.customer-image {
  width: 100%; 
  height: auto; 
  max-width: 200px; 
  border-radius: 10px; 
  margin: 10px 0; 
}

.customers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: #f9f9f9; 
}

.customer-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 15px;
  width: calc(30% - 20px); 
}

.customer-card h3 {
  color: #333; 
}

.button {
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3; 
}

.header {
  margin-top: 0;
  padding-top: 0;
}

.dropdown {
  padding: 8px;
  max-width: 300px;
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  color:#000;
  margin-bottom: 20px;
}